<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header btn btn-outline-warning active">
      <a href="#" class="navbar-brand text-light ">Recipe Book</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapse()">
      <i class="navbar-toggler-icon"></i>
    </button>
    <div class="collapse navbar-collapse ml-2" id="navbarCollapse" [ngClass]="{'show': !collapse}">
      <ul class="navbar-nav nav-tabs" style="border-bottom: none;">
        <li class="nav-item">
          <a class="nav-link text-white " routerLink="/recipes" *ngIf="isAuthenticated">recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/shopping-list']">shopping List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/auth']" *ngIf="!isAuthenticated">authenticate</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isAuthenticated">
        <li class="nav-item">
          <a class="nav-link text-white">{{ user.email }}</a>
        </li>
        <li class="nav-item dropdown" appDropdown>
          <a class="nav-link dropdown-toggle btn btn-outline-warning text-white" data-toggle="dropdown">manage</a>
          <div class="dropdown-menu" appDropdownClose mt-0>
            <a class="dropdown-item" style="cursor: pointer;" (click)="saveRecipes()">save recipes</a>
            <!-- <a class="dropdown-item" style="cursor: pointer;" (click)="fetchRecipes()">fetch data</a> -->
            <a class="dropdown-item" style="cursor: pointer;" (click)="logout()">sign out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>