<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        Recipe Details:
      </div>
      <img class="card-img-top" src="https://www.businessinsider.in/thumb/msid-66635723,width-600,resizemode-4/Now-you-can-trade-10-old-Maggi-wrappers-for-a-new-packet-Nestle-India-launches-pilot-project-to-fight-plastic-menace.jpg?131189" alt="">
      <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Body</p>
          <button class="btn btn-outline-primary dropdown-toggle " data-toggle="dropdown">Manage</button>
          <ul class="dropdown-menu">
            <li class="dropdown-item">
              <a href="#" class="">To shopping List</a>
            </li>
            <li class="dropdown-item">
                <a href="#" class="">Edit Recipe</a>
              </li>
              <li class="dropdown-item">
                  <a href="#" class="">Delete recipe</a>
              </li>
          </ul>
      </div>
    </div>
  </div>
</div>