<div class="row">
    <div class="col-sm-12 m-0">
        <div class="btn text-white ml-3 ml-sm-0 my-2" [routerLink]="link" (click)="onClick()"
            [ngClass]="{'btn-danger': editMode, 'btn-success': !editMode}">{{editMode ? 'cancel' : 'add Recipe'}}</div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <div class="list-group ml-2 m-sm-0">
            <app-loading-spinner *ngIf="loading"></app-loading-spinner>
            <div *ngIf="!loading">
                <app-recipe-item *ngFor="let recipe of recipes; let i = index;" [recipeItem]="recipe"
                    (click)="onSelectRecipe()" [index]="i"></app-recipe-item>
            </div>
        </div>
    </div>
</div>