<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for="name">name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" ngModel required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">amount</label>
          <input type="number" class="form-control" id="amount" placeholder="#" name="amount" ngModel required>
        </div>
        <div class="col-sm-1 form-group">
            <label for="unit">unit</label>
            <select type="text" class="form-control" id="unit" name="unit" ngModel required>
                <option value="number">#</option>
                <option value="gm">gm</option>
                <option value="Kg">Kg</option>
                <option value="ml">ml</option>
                <option value="L">L</option>
            </select>
          </div>
      </div>
      <div class="row btn-group">
          <div class="col-sm-12 p-3">
            <button class="btn btn-success mr-1" type="submit" [disabled]="!f.valid">{{ editMode? 'update' : 'add' }}</button>
            <button class="btn btn-primary ml-1" type="reset" (click)="onReset()">reset</button>
          </div>
      </div>
    </form>  
  </div>
</div>